@model List<ABCMoneyTransfer.Models.Payment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 
<br />
<div class="d-flex justify-content-between align-items-center">
    <h3>Transactions History</h3>
    <a href="@Url.Action("Create", "Transfer")" class="btn btn-primary">New Transfer</a>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount (MYR)</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.SFirstName</td>
                <td>@payment.RFirstName</td>
                <td>@payment.TransferAmount</td>
                <td>@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("Details", "Transfer", new { id = payment.TransferId })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
